.infoS-header {
    background: #832574;
}

li.txt-urg {
    position: relative;
    top: 5px;
}

.item-blog {
    min-height: 470px;
}

.img-cirad img {
    width: 100%;
    height: auto;
}

img.logo-responsive {
    display: none;
}

.logo img {
    width: 13%;
    height: auto;
}

.urgence a {
    display: none;
}

.img-v iframe {
    width: 100%;
    height: 500px;
}

li.img-h img {
    width: 9%;
}

li.img-h {
    display: inline-block;
    width: 59%;
}

.item.item-testimony,
.content-testimony {
    text-align: center;
    /* width: 830px; */
    /* margin: 0 auto; */
    font-size: 25px;
}

.content-testimony p {
    text-align: center !important;
}

.urgence {
    text-align: right;
    margin-right: 55px;
}

.infoS-header ul li {
    list-style: none;
    display: inline-block;
    color: white;
}

.cirad-en-video {
    margin-top: 18px;
}

.content-testimony p {
    text-align: left;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    font-size: 13px;
    margin-bottom: 0;
    list-style: none;
}

.link-sec:hover {
    color: white !important;
}

.urgence li {
    font-size: 14px;
}

.RS-head .fa {
    color: white;
    margin-top: 14px;
    font-size: 20px;
}

.urgence ul {
    margin-top: 7px;
}

.logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 11px;
}


/* CSS MENU */

.menu-header {
    width: 920px;
    margin: 0 auto;
}

.menu-header a {
    margin-right: 40px;
}

.slick-slide img {
    display: initial !important;
}

.content-testimony p {
    text-align: center !important;
}


/*caroussel*/

.owl-theme .owl-dots .owl-dot span {
    display: none !important;
}

.owl-dots {
    display: none;
}

.txt-slide {
    background: url(/customerFront/images/bg-title.png);
    background-repeat: no-repeat;
    padding: 43px 42px 84px 72px;
    position: absolute;
    bottom: 9%;
    right: 5%;
    background-size: contain;
}

.link-cirad a {
    border: 1px solid white;
    padding: 5px;
    color: white;
    transition: all .5s ease;
    font-size: 20px;
}

.link-cirad a:hover {
    background: white;
    color: #aa137a;
    border: 1px solid #aa137a;
}

.link-blog a:hover {
    background: white;
    color: #8a317c;
    border: 1px solid #8a317c;
}

.link-cirad {
    margin-top: 28px;
}

.txt-slide h2 {
    color: white;
}

.link-cirad a:hover {
    text-decoration: none;
}

div#why-choose-cirad {
    text-align: center;
}

div#why-choose-cirad {
    text-align: center;
    padding-top: 70px;
    background: url(/customerFront/images/bg-choice.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.title-content h2 {
    color: #832574;
    font-weight: 900;
}

.title-content {
    display: inline-block;
    position: relative;
    width: 610px;
}

.title-content::before {
    content: "";
    background: #832574;
    width: 14%;
    height: 3%;
    position: absolute;
    left: -60px;
    top: 21px;
}

.img-blog img {
    width: 97%;
}

.item-blog {
    min-height: 460px;
}

.title-content::after {
    content: "";
    background: #832574;
    width: 14%;
    height: 3%;
    position: absolute;
    right: -60px;
    top: 21px;
}

.img-2 img {
    width: 21%;
}

.img-1 img {
    width: 32% !important;
}

.item-choice p {
    font-size: 24px;
}

.img-item-choice img {
    width: 24%;
    height: auto;
}

.img-item-choice {
    margin-bottom: 25px;
}

.dt-choice {
    font-size: 28px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 300;
}

.cirad p {
    font-size: 24px;
}

div#what-we-do {
    text-align: center;
}

.img-v img {
    width: 100%;
    height: auto;
}

.title-we-do::after {
    content: "";
    background: #5C5A58;
    width: 10%;
    height: 3%;
    position: absolute;
    right: -60px;
    top: 21px;
}

.title-we-do::before {
    content: "";
    background: #5C5A58;
    width: 10%;
    height: 3%;
    position: absolute;
    left: -60px;
    top: 21px;
}

.title-we-do {
    display: inline-block;
    position: relative;
    color: #5C5A58;
    width: 610px;
    margin-bottom: 40px;
}

.cirad-bio p {
    font-size: 24px;
}

.cirad {
    margin-top: 120px;
    text-align: left;
}

.cirad h4 {
    font-size: 38px;
    font-weight: 700;
    color: #771e6a;
}

.slide-cirad {
    background: url(/customerFront/images/bg-c.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* PARTIE DE PAGINATION BLOG*/

.pagination ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .4s;
    border: 1px solid #cecdcd;
    border-radius: 34px;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 18px;
    padding-top: 12px;
}


/*pagination */

.pagination ul {
    display: flex;
    padding: 5px 20px;
    /* box-shadow: 0 0 10px rgb(0 0 0); */
}

.pagination ul li {
    position: relative;
    list-style: none;
    line-height: 50px;
    margin: 5px;
    transform: 0.4s;
}

.pagination .page_item {
    width: 50px;
    height: 50px;
    text-align: center;
}

.pagination ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .4s;
    border: 1px solid #cecdcd;
    border-radius: 50px;
}

.pagination .page_item:hover a,
.pagination .page_item.active a {
    background-color: #832574;
    color: white;
}

.pagination ul li:first-child {
    margin-right: 30px;
    font-size: 30px;
}

.pagination ul li:last-child {
    margin-left: 30px;
    font-size: 30px;
}

.pagination {
    width: 500px;
    margin: 0 auto;
    margin-top: 60px;
}

ul.pagin .prev a {
    padding-left: 15px;
    padding-right: 15px;
}

.pagin li.next a {
    padding-left: 15px;
    padding-right: 15px;
}

.pagination .page_item a {
    border-radius: 50px;
}

ul.pagin .prev a {
    border-radius: 50px;
}

ul.pagin .next a {
    border-radius: 50px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #832574;
    border-style: none;
    border-radius: 34px;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 18px;
    padding-top: 12px;
}

.pagination ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .4s;
    border: 1px solid #cecdcd;
    border-radius: 34px;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 18px;
    padding-top: 12px;
}

.txt-history p {
    font-size: 17px;
}

div#univers p {
    font-size: 22px;
}

.content-examen li {
    font-size: 20px;
}

.content-examen h5 {
    font-size: 22px;
}

.content-examen li {
    font-size: 20px;
}

.content-examen h5 {
    font-size: 20px;
    margin-bottom: 34px;
}

.content-examen h3 {
    text-align: center;
    color: #0A99D1;
    margin-bottom: 30px;
}

.txt- h3 {
    margin-top: 130px;
}

.cas- {
    margin-bottom: 20px;
}

.page-item:first-child .page-link {
    background: #832574 !important;
    border-style: none;
    border-radius: 34px;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 14px;
    padding-top: 2px;
    color: white !important;
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background: #832574 !important;
    border-radius: 34px;
    border-style: none;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 16px;
    padding-top: 2px;
    color: white !important;
}

.title-content {
    margin-bottom: 40px;
    margin-top: 50px;
}

.choice {
    margin-top: 38px;
}

div#why-choose-cirad {
    text-align: center;
}

.slide-cirad-bio {
    background: url(/customerFront/images/bg-bio.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cirad-bio {
    margin-top: 120px;
    text-align: right;
}

.cirad-bio h4 {
    font-size: 38px;
    font-weight: 700;
    color: #0A99D1;
}


/* testimony */

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.title-testimony h3 {
    color: #832574;
    font-size: 30px;
}

.cirad-en-video img {
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}


/* blog */


/*.blo:hover {
    background: pink;
    transition: all .3s ease;
}*/

div#content-page {
    border-top: 1px solid #832574;
}

.blo {
    width: 969px;
    margin: 0 auto;
}

.img-blog img {
    width: 95% !important;
}

div#blog {
    background: url(/customerFront/images/bg-blog.png);
    background-size: 100% 100%;
    padding-top: 25px;
    margin-top: 50px;
    color: white;
}

.title-blog {
    margin-top: 24px;
    margin-bottom: 24px;
}

.link-blog a {
    color: white;
    border: 1px solid white;
    padding: 10px 19px 10px 19px;
    transition: all .5s ease;
}

.link-bloges a {
    color: white;
    border: 1px solid #8a317c;
    padding: 10px 19px 10px 19px;
    transition: all .5s ease;
    text-align: right;
    background: #832574;
}

div#blog {
    background: url(/customerFront/images/bg-blog.png);
    background-size: 100% 100%;
    padding-top: 25px;
    margin-top: 50px;
    color: white;
    padding-bottom: 31px;
}

.link-blog a:hover {
    text-decoration: none;
}

.link-bloges a:hover {
    text-decoration: none;
}

.header-blog {
    text-align: center;
}


/* Hours */

div#hours {
    padding-top: 50px;
    padding-bottom: 50px;
}

div#hours ul {
    list-style: none;
    padding: 0;
}

div#hours h4 {
    font-weight: bold;
    font-size: 28px;
}

.hour-cirad h4 {
    color: #8a317c;
}

.hour-cirad .fa {
    color: #8a317c;
}

.hour-cirad-bio h4 {
    color: #0DADE2;
}

.hour-cirad-bio .fa {
    color: #0dade2;
}

div#hours h4 {
    margin-bottom: 30px;
}

.rdv {
    text-align: center;
    margin-top: 70px;
    margin-right: 72px;
    display: none;
}

.rdv a {
    color: #8a317c;
    border: 2px solid;
    padding: 12px;
    transition: all .5s ease;
    font-size: 20px;
}

div#univers .image-history img {
    border: 1px solid #832574;
    padding: 5px;
}

.rdv a:hover {
    background: #8a317c;
    color: #ffffff;
    text-decoration: none;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.link-s button:hover {
    text-decoration: none;
    background: #832574;
    color: white;
}

.btn-block a:hover {
    text-decoration: none;
    background: white;
    color: #832574;
    border: 1px solid;
}

.hour-cirad::after {
    content: "";
    width: 2px;
    height: 76%;
    position: absolute;
    background: #8a317c;
    right: 7%;
    top: 26%;
}

.hour-cirad {
    position: relative;
}

div#hours {
    width: 82%;
    margin: 0 auto;
}

/*.hour-cirad-bio {
    margin-left: 80px;
}*/

.menu {
    width: 875px;
    margin: 0 auto;
}

.img-cirad {
    border: 1px solid #862977;
}

.img-cirad {
    border: 1px solid #862977;
    padding: 5px;
}


/*footer */

.logo-footer img {
    width: 50%;
    height: auto;
}

.RS-footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.RS-footer ul li a {
    color: #868383;
}

.RS-footer ul {
    padding: 0;
}

.RS-footer {
    margin-top: 11px;
}

.RS-footer ul li a {
    color: #868383;
    font-size: 25px;
}

ul.menu-footer li {
    list-style: none;
}

ul.menu-footer li {
    list-style: none;
    display: inline-block;
    margin-right: 75px;
    font-size: 14px;
}

.content-footer ul {
    padding: 0;
}

.content-footer ul li a {
    color: #9b4a94;
    font-size: 20px;
}

.title-news {
    margin-left: 141px;
}

.title-news h4 {
    font-size: 20px;
    font-weight: 600;
    color: #9b4a94;
    margin-bottom: 40px;
}

.newletters {
    margin-top: 60px;
}

.newletters input {
    border-radius: 0;
    background: #fbfbfb;
}

.link-s {
    text-align: center;
    margin-top: 40px;
}

.days li {
    font-size: 24px;
}

.hours-h li {
    font-size: 24px;
}

.link-s button {
    color: #9b4a94;
    border: 1px solid;
    padding: 5px;
    transition: all .5s ease;
    font-size: 20px;
}

.content-footer ul li a:hover {
    text-decoration: none;
}

ul.menu-footer::after {
    content: "";
    width: 99%;
    height: 5%;
    position: absolute;
    background: #9b4a94;
    bottom: -30px;
    left: 0;
}

ul.menu-footer {
    position: relative;
}

.blog .link-blog a {
    color: #832574;
    border: 1px solid #832574;
    padding: 10px 19px 10px 19px;
    transition: all .5s ease;
}

.item-blog {
    min-height: 520px;
}

div#footer {
    margin-top: 40px;
    padding-bottom: 40px;
}

div#copyright {
    background: #832574;
    color: white;
}

.copy ul li {
    list-style: none;
    display: inline-block;
    margin-right: 19px;
}

.copy ul {
    padding: 0;
    margin-top: 8px;
}

.right {
    margin-top: 8px;
    text-align: right;
}


/* Page interne le CIRAD */

.content-header-Pin .menu-header {
    width: 1190px;
    margin: 0 auto;
}

.content-header-Pin .menu {
    margin: 0 auto;
    width: 1135px;
}

.img-mission img {
    width: 100%;
    height: auto;
}

.img-history img {
    width: 100%;
    height: auto;
}

.title-page,
.title-brea {
    text-align: center;
}

.title-brea h5 {
    font-size: 10px;
}

.title-page,
.title-brea {
    text-align: center;
}

.title-page {
    text-align: center;
    margin-top: 70px;
}

.title-bloc {
    color: #832574;
    position: relative;
    margin-bottom: 60px;
    margin-top: 70px;
}

.title-bloc::before {
    content: "";
    width: 5%;
    height: 5%;
    position: absolute;
    background: #832574;
    left: 0;
    bottom: 10px;
}

.img-cirad:hover {
    transform: scale(1.1);
}

.img-cirad {
    transition: .3s;
}

.blo {
    padding-left: 80px;
}

.menu-- {
    background: white;
    z-index: 999;
}

.title-bloc h4 {
    margin-left: 64px;
    text-transform: uppercase;
    font-size: 29px;
}

.title-page h2 {
    font-weight: bold;
    color: #832574;
}

.title-brea h5 {
    color: #832574;
}

.img-valeur img {
    width: 50%;
}

.txt-valeur h4 {
    color: #832574;
    font-weight: 700;
    font-size: 30px;
}

.txt-valeur {
    margin-top: 20px;
    font-size: 22px;
}

div#nos-valeurs .row {
    margin-bottom: 70px;
}

.img-valeur1 {
    text-align: right;
}

.img-valeur1 img {
    width: 50%;
}

.content-a-savoir {
    font-size: 20px;
}

.img-before-examen {
    margin-top: 70px;
}

/*.txt-history p {
    margin-top: 50px;
}*/

div#nos-valeurs {
    margin-top: 50px;
    background: url(/customerFront/images/bg-.png);
    background-size: 100% 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.content-header-Pin {
    border-bottom: 1px solid #832574;
    margin-bottom: 15px;
}

.content-mission {
    margin-top: 25px;
}

div#missions {
    background: url(/customerFront/images/bg-histoire.png);
    background-size: 100% 100%;
}


/* Nos specialites page interne */

.img-before-examen img {
    width: 100%;
}

.img-before-examen img {
    width: 100%;
    margin-bottom: 30px;
}

.content-examen p {
    margin-bottom: 30px;
}

.bloc-info-examen ul {
    list-style: none;
    padding: 0;
}

.bloc-info-examen ul li {
    margin-bottom: 25px;
    border: 1px solid;
    color: #832574;
    padding: 10px;
}

.bloc-info-examen {
    width: 930px;
    margin: 0 auto;
}

.bloc-info-examen {
    width: 930px;
    margin: 0 auto;
    color: #000000;
    font-size: 20px;
}

div#before-examen {
    background: url(/customerFront/images/bg-.png);
    background-size: 100% 100%;
    padding-top: 20px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.bloc-info-examen h3 {
    text-align: center;
    font-size: 25px;
    color: black;
}

.txt-history ul li {
    font-size: 22px;
}

div#during-exam {
    padding-top: 30px;
}

div#during-exam {
    padding-top: 30px;
    background: url(/customerFront/images/bg-histoire.png);
    background-size: 100% 100%;
}


/*nous contacter */

.urgence-- p {
    font-size: 21px;
    color: #832574;
}

.txt-urgence {
    background: #832574;
    padding: 55px 20px 55px 20px;
    color: white;
}

.txt-urgence p {
    font-size: 27px;
    text-align: center;
}

.btn-block {
    text-align: right;
}

.btn-block a {
    color: white;
    border: 1px solid;
    padding: 5px;
}

.btn-block a:hover {
    text-decoration: none;
}

.btn-block {
    margin-top: 33px;
}

.urgence-- p {
    margin-top: 90px;
    font-size: 29px;
}

div#univers {
    margin-bottom: 50px;
}

div#radio {
    background: #ffeefc;
    padding-top: 30px;
    padding-bottom: 30px;
}

.radio-- h3 {
    color: #832574;
}

.txt-radio h3 {
    color: #0dade2;
}

.sect-radio {
    width: 82%;
    margin: 0 auto;
}

.txt-radio {
    margin-left: 90px;
}

div#radio ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

div#radio ul li {
    font-size: 20px;
}

span.r-sp {
    color: #832574;
    font-weight: 500;
}

span.txt-sp {
    color: #0dade3;
    font-weight: 500;
}

.radio--::after {
    content: "";
    background: #832574;
    width: 2px;
    height: 94%;
    position: absolute;
    right: 35px;
    top: 12px;
}

.radio-- {
    position: relative;
}

div#map iframe {
    width: 100%;
}


/* formulaire rdv */

.lign- {
    width: 78%;
    display: inline-block;
}

.label-- {
    width: 20%;
    display: inline-block;
}

.block1 {
    margin-top: 33px;
}

.lign-dt {
    width: 73%;
    display: inline-block;
}

.label-dt {
    width: 25%;
    display: inline-block;
}

.block-dt {
    margin-top: 31px;
}

.lb-cirad-choice {
    width: 50%;
    display: inline-block;
}

.cirad-choice {
    display: inline-block;
    width: 49%;
}

.c-input {
    width: 79%;
}

.formul {
    color: #832574;
}

.sec-1 {
    display: inline-block;
    width: 33%;
}

.sec-2 {
    display: inline-block;
    width: 33%;
}

.sec-3 {
    display: inline-block;
    width: 33%;
}

.formul h4 {
    margin-bottom: 25px;
    color: #b5b5b5;
}

.case-a-cocher {
    width: 630px;
    margin: 0 auto;
    margin-top: 30px;
}

.link-soumission {
    text-align: center;
    margin-top: 40px;
}

.link-soumission button {
    border: 1px solid;
    color: #832574;
    padding: 6px;
}

.link-soumission button:hover {
    text-decoration: none;
}

div#form-rdv {
    margin-bottom: 80px;
    background: url(/customerFront/images/bg-histoire.png);
    background-size: 100% 100%;
}


/* un blog */

.img-actu-blog img {
    width: 100%;
    height: auto;
}

.sec-img img {
    width: 1400px !important;
    height: 350px !important;
}

.sec-img {
    text-align: center !important;
}

.title-actu-blog h2 {
    position: absolute;
    right: 13%;
    top: -100px;
    background: url(/customerFront/images/bg-title-blog.png);
    background-size: cover;
    padding: 15px;
    color: white;
    font-size: 25px;
}

.title-actu-blog {
    position: relative;
}

.sect-- {
    background: #FFF1FD;
    padding-bottom: 20px;
    padding-top: 20px;
}

.img-actu-blog {
    margin-bottom: 20px;
}


/* section blog */

.content-blog .row {
    margin-top: 30px;
}

.ct-blog h3 a {
    color: #832574;
    font-weight: bold;
}

.ct-blog h3 a:hover {
    text-decoration: none;
}

.btn-read a {
    color: #832574;
    border: 1px solid;
    padding: 10px;
}

.btn-read a:hover {
    text-decoration: none;
    background: #832574;
    color: white;
}

.btn-read {
    text-align: right;
    margin-top: 38px;
    margin-right: 100px;
}

.menu-- ul li a:hover {
    color: #832574;
}


/*pagination */

.pagination ul {
    display: flex;
    padding: 5px 20px;
    /* box-shadow: 0 0 10px rgb(0 0 0); */
}

.pagination ul li {
    position: relative;
    list-style: none;
    line-height: 50px;
    margin: 5px;
    transform: 0.4s;
}

.pagination .page_item {
    width: 50px;
    height: 50px;
    text-align: center;
}

.pagination ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .4s;
    border: 1px solid #cecdcd;
    border-radius: 50px;
}

.pagination .page_item:hover a,
.pagination .page_item.active a {
    background-color: #E61873;
    color: white;
}

.pagination ul li:first-child {
    margin-right: 30px;
    font-size: 30px;
}

.pagination ul li:last-child {
    margin-left: 30px;
    font-size: 30px;
}

.pagination {
    width: 500px;
    margin: 0 auto;
    margin-top: 60px;
}

.first-blog {
    margin-bottom: 100px;
}

ul.pagin .prev a {
    padding-left: 15px;
    padding-right: 15px;
}

.pagin li.next a {
    padding-left: 15px;
    padding-right: 15px;
}

.pagination .page_item a {
    border-radius: 50px;
}

ul.pagin .prev a {
    border-radius: 50px;
}

ul.pagin .next a {
    border-radius: 50px;
}


/* responsive CIRAD */

@media only screen and (max-width: 600px) {
    .title-content h2 {
        color: #832574;
        font-size: 18px;
        font-weight: 900;
    }
    .title-content {
        display: inline-block;
        position: relative;
        width: 171px;
    }
    .blo {
        width: 100%;
        padding: 15px;
        /* margin: 0 auto; */
    }
    img.logo-responsive {
        display: block !important;
    }
    .owl-theme .owl-nav {
        display: none !important;
    }
    .spe {
        display: none;
    }
    .link-content {
        margin-top: 0 !important;
    }
    .sp-- {
        margin-left: 0 !important;
    }
    ul.sp-- li a {
        font-size: 20px !important;
    }
    .item-menu-d .sp-- li a {
        font-size: 20px !important;
    }
    img.main-logo {
        display: none;
    }
    .dt-choice {
        font-size: 14px;
        width: 89%;
        margin: 0 auto;
        margin-bottom: 25px;
        font-weight: 300;
    }
    .item-choice p {
        font-size: 18px;
    }
    div#why-choose-cirad {
        padding-bottom: 0px;
    }
    .title-we-do {
        display: inline-block;
        position: relative;
        color: #5C5A58;
        width: 171px;
        margin-bottom: 24px;
    }
    .title-we-do h2 {
        margin-top: 12px;
        font-size: 15px;
    }
    .dt-choice {
        font-size: 14px;
        width: 100%;
        /* margin: 0 auto; */
        /* margin-bottom: 25px; */
        font-weight: 300;
    }
    .cirad {
        margin-top: 15px;
        text-align: center !important;
    }
    .cirad p {
        font-size: 19px;
    }
    .cirad-bio {
        margin-top: 20px;
        /* text-align: right; */
    }
    div#copyright {
        background: #832574;
        color: white;
        text-align: center;
    }
    .right {
        margin-top: 8px;
        text-align: center;
    }
    .newletters input#name::placeholder {
        font-size: 13px;
    }
    .newletters input#email::placeholder {
        font-size: 13px;
    }
    .title-news {
        text-align: center;
        margin-left: 0px;
    }
    .logo-footer {
        text-align: center;
    }
    .RS-footer {
        margin-top: 26px;
        text-align: center;
    }
    .content-footer ul li a {
        color: #9b4a94;
        font-size: 15px;
    }
    .logo-footer img {
        width: 54%;
        height: auto;
    }
    .RS-head {
        text-align: right;
    }
    ul.menu-footer {
        text-align: center;
    }
    .hour-cirad::after {
        display: none;
    }
    .hour-cirad {
        text-align: center;
    }
    .hour-cirad-bio {
        text-align: center;
    }
    .rdv a {
        font-size: 8px;
    }
    .rdv {
        margin-top: 30px;
        margin-right: 0;
    }
    .menu-- {
        background: transparent;
        z-index: 999;
        position: absolute;
        top: 11px;
        /* right: 0; */
    }
    li.txt-urg {
        font-size: 16px !important;
    }
    .title-section h1 {
        font-size: 40px;
        text-align: center;
    }
    .urgence {
        width: 300px;
        margin: 0 auto;
    }
    div#navbarSupportedContent .navbar-nav {
        background: white;
        width: 100vh;
    }
    .menu-- {
        padding-left: 0;
    }
    .RS-head ul {
        padding: 0;
    }
    .search-box {
        display: none;
    }
    .urgence ul li {
        display: initial;
    }
    li.txt-urg {
        font-size: 8px;
    }
    .urgence ul {
        padding: 0;
        text-align: center;
    }
    .txt-slide {
        background: url(/customerFront/images/bg-text.png);
        background-repeat: no-repeat;
        padding: 0;
        position: absolute;
        bottom: 28%;
        right: 4%;
        height: 49%;
        background-size: contain;
    }
    .txt-slide h2 {
        color: white;
        font-size: 11px;
        padding-left: 24px;
        padding-top: 23px;
        padding-right: 6px;
    }
    .link-cirad {
        margin-top: 28px;
        text-align: right;
        margin-right: 25px;
    }
    .link-cirad a {
        font-size: 9px;
    }
    .sticky {
        display: none;
    }
    .hour-cirad-bio {
        margin-left: 0;
    }
    .txt-valeur {
        margin-top: 20px;
        text-align: center;
    }
    .img-valeur1 {
        text-align: center;
    }
    .img-valeur {
        text-align: center;
    }
    .title-bloc h4 {
        margin-left: 29px;
        font-size: 19px;
    }
    .radio--::after {
        display: none;
    }
    .radio-- h3 {
        color: #832574;
        font-size: 20px;
        text-align: center;
    }
    div#radio ul li {
        font-size: 17px;
        text-align: center;
    }
    .txt-radio {
        margin-left: 0;
    }
    .txt-radio h3 {
        color: #0dade2;
        font-size: 23px;
        text-align: center;
    }
    .title-page h2 {
        font-weight: bold;
        color: #832574;
        font-size: 25px;
    }
    #form-rdv .title-bloc h4 {
        margin-left: 26px;
        font-size: 16px;
    }
    .formul h4 {
        margin-bottom: 20px;
        color: #b5b5b5;
        font-size: 20px;
        text-align: center;
    }
    .label-- {
        width: 100%;
        display: inline-block;
    }
    .lign- {
        width: 100%;
        display: inline-block;
    }
    .label-dt {
        width: 100%;
        display: inline-block;
    }
    .lign-dt {
        width: 100%;
        display: inline-block;
    }
    .lb-cirad-choice {
        width: 100%;
        display: inline-block;
    }
    .cirad-choice {
        display: inline-block;
        width: 100%;
    }
    .sec-3 {
        display: inline-block;
        width: 32%;
    }
    .sec-2 {
        display: inline-block;
        width: 32%;
    }
    .sec-1 {
        display: inline-block;
        width: 32%;
    }
    .case-a-cocher {
        width: 291px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .form-check-label {
        margin-bottom: 8px;
    }
    .bloc-info-examen {
        width: 280px;
        margin: 0 auto;
        color: #5C5A58;
    }
    .bloc-info-examen h3 {
        text-align: center;
        font-size: 18px;
    }
    ul.menu-footer li {
        list-style: none;
        display: block;
        margin-right: 0;
        font-size: 14px;
    }

    .item.item-testimony, .content-testimony {
        text-align: center;
        font-size: 22px;
    }
    .urgence a {
        display: block !important;
    }
    .RS-head ul {
        display: none;
    }
    .urgence ul {
        display: none;
    }
    .infoS-header {
        background: #832574;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .logo {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 11px;
        position: absolute;
        left: 86px;
        top: -28px;
        width: 57%;
    }

    .slider-home img {
        width: 100%;
    }
    
    .urgence a {
        font-size: 25px;
        color: white;
    }
    .logo img {
        width: 80%;
        /* margin-left: 40px; */
    }

    .txt- h3 {
        margin-top: 20px;
    }

    .sec-img img {
        width: 100% !important;
        height: auto;
    }

}

@media only screen and (max-width: 800px) {
    .urgence ul {
        padding: 0;
    }

    .txt- h3 {
        margin-top: 20px;
    }
    .urgence a {
        display: block !important;
    }
    li.txt-urg {
        font-size: 7px;
    }
    .search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: none;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        right: -99px;
    }
    .RS-head ul {
        padding: 0;
    }
    div#navbarSupportedContent .navbar-nav .nav-item a {
        color: #832574;
        font-size: 13px;
        width: 100%;
        margin: 0 auto;
    }
    div#navbarSupportedContent {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .txt-history p {
        margin-top: 0;
    }
    .bloc-info-examen {
        width: 100%;
        margin: 0 auto;
        color: #5C5A58;
    }
    div#hours {
        width: 100%;
        margin: 0 auto;
    }
    .hour-cirad-bio {
        margin-left: 0;
    }
    .title-news {
        margin-left: 0;
        text-align: center;
    }
    .logo-footer img {
        width: 70%;
        height: auto;
    }
    .copy ul li {
        font-size: 10px;
    }
    .right {
        margin-top: 14px;
        text-align: center;
        font-size: 9px;
    }
    ul.menu-footer {
        position: relative;
        text-align: center;
    }
    .navbar .dropdown-menu {
        border: none;
        background-color: white !important;
        /* margin-top: 8px; */
    }
    .navbar .dropdown-menu {
        border-top: 1px solid #832574;
        width: 100vw !important;
        left: 0px;
        right: 0;
        top: 36px !important;
    }
    .title-section h1 {
        font-size: 35px;
    }
    .link-content ul li a {
        margin-left: 78px !important;
        font-size: 31px !important;
    }
    .title-section h1 {
        font-size: 30px;
    }
    .cirad {
        margin-top: 0;
        text-align: left;
    }
    .cirad-bio {
        margin-top: 50px;
        text-align: right;
    }
    .dt-choice {
        width: 92%;
    }
    .content-testimony p {
        width: 100%;
    }
    ul.menu-footer li {
        list-style: none;
        display: block;
        margin-right: 0;
        font-size: 14px;
    }
    .spe {
        width: 320px;
    }
    .sp-- {
        margin-left: 0;
    }
    .txt-radio {
        margin-left: 0;
    }
    .sect-radio {
        width: 100%;
        margin: 0 auto;
    }
    .radio--::after {
        content: "";
        background: #832574;
        width: 2px;
        height: 94%;
        position: absolute;
        right: 22px;
        top: 12px;
    }
    .radio-- h3 {
        color: #832574;
        font-size: 25px;
    }
    .sec-1 {
        display: inline-block;
        width: 32%;
    }
}

.bloc-- {
    width: 950px;
    margin: 0 auto;
}

.link-bloges a:hover {
    background: white;
    color: #8a317c;
    border: 1px solid #8a317c;
}

.item-bloging {
    /* box-shadow: 1px 1px 13px 1px grey; */
    padding-bottom: 30px;
}

.bloginges {
    padding-left: 15px;
}

.content-examen p {
    font-size: 20px;
}

.standard h5 {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

div#navbarSupportedContent ul {
    width: 720px;
    margin: 0 auto;
}

ul.menu-footer {
    text-align: center;
}