.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem
}

.navbar .dropdown-menu {
  border: none;
  background-color: white !important;
  margin-top: 8px;
}

.img-sec img {
  width: 100%;
}

.title-section {
  margin-top: 70px;
  color: #832574;
}

.link-content ul {
  list-style: none;
  padding: 0;
}

.link-content ul li {
  margin-bottom: 10px;
}

.link-content {
  margin-top: 90px;
}



.link-content ul li a {
  font-size: 22px;
  padding: 5px;
  color: #832574;
}

.link-content ul li a {
  margin-left: 55px;
}

.link-content ul li a:hover {
  text-decoration: none;
}

.link-content li::before {
  content: "";
  width: 5%;
  height: 5%;
  background: #832574;
  position: absolute;
  top: 49%;
}

.link-content li {
  position: relative;
}

.link-content li a {
  margin-left: 60px;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px
}

.navbar .nav-item {
  padding: .5rem .5rem;
  margin: 0 .25rem
}

.navbar .dropdown {
  position: static
}

.navbar .dropdown-menu {
  border-top: 1px solid #832574;
  width: 98.8vw;
  left: 0px;
  right: 0;
  top: 45px;
  box-shadow: 3px 0px 5px 0px #e2e2e2;
  /* height: 100vh; */
  /* padding-top: 50px; */
  background: url(/customerFront/images/bg-histoire.png);
}

.link-sec {
  margin-top: 40px;
}

.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
  display: block !important
}

/*.navbar .dropdown-menu {
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: #fff
}*/

html, body {
  overflow-x: hidden;
}

a.i {
  margin-top: -20px;
  font-weight: 400;
  color: white
}

a.catogary {
  margin-left: -20px;
  color: white
}


a.nav-link.active {
  font-weight: 700;
  background-color: #6B5B95;
  color: white
}

div#navbarSupportedContent .navbar-nav .nav-item a {
  color: #832574;
  font-size: 20px;
}

div#navbarSupportedContent .navbar-nav .nav-item a:hover {
  background: #832574;
  color: white;
  transition: all .3s cubic-bezier(0.25, 0.1, 0.78, 0.22);
}

.link-sec a {
  border: 1px solid #832574;
  padding: 7px;
}

.img-sec {
  margin-bottom: 20px;
}

.link-sec a:hover {
  text-decoration: none;
  background: #832574;
  color: white !important;
}

.sp-- {
  margin-left: 25px;
}

.sp--1 {
  margin-top: 130px;
}

.spe h1 {
  font-size: 40px;
}

/*.menu-- {
  width: 1121px;
  margin: 0 auto;
  margin-bottom: 11px;
}*/

div#navbarSupportedContent {
  padding-left: 130px;
  padding-right: 130px;
}

div#navbarSupportedContent .nav-item {
  margin-right: 40px;
}

span.navbar-toggler.icon {
  color: black
}

/*.item-menu-d {
  margin-top: 100px;
}*/

.content-footer ul li a:hover:after {
  content: "";
  background: #9d4e96;
  position: absolute;
  width: 65%;
  height: 8%;
  left: 0;
  bottom: -3px;
}

.content-footer ul li a:hover {
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 3px 0px 5px 0px grey;
}