
.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: none;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  right: -160px;
}
.search-btn {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background: #2F3640; */
    display: flex;
    justify-content: center;
    align-items: end;
    text-decoration: none;
    transition: 0.4s;
}
.search-txt
{
  border:none;
  background:none;
  outline:none;
  float:left;
  padding:0;
  color: #fff;
  font-size:16px;
  transition : 0.4s;
  line-height: 40px;
  width : 0px;
}
.search-box:hover > .search-txt
{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: none;
    position: absolute;
    right: 0;
    top: 29%;
}

.search-box input::placeholder {
    color: white;
    position: absolute;
}